In [ ]:
sales = pd.read_csv('sales.csv')
sales.head(2)

#get the datatype of columns

sales.dtypes

#get dataframe information
sales.info()


#Print sum of all revenue column
sales['Revenue'].sum()

sales['Revenue'] = sales['Revenue'].str.strip('$')
sales['Revenue'] = sales['Revenue'].astype('int')

#Assert is one way to verify something (like if) if it is True then it returns nothing

assert 1+1 == 2

#Otherwise (False) it returns an error
assert 1+1 == 3
assert sales['Revenue'].dtype == 'int'

In [ ]:
#Numerical or Categorical?

df['marriage_status'].describe()

#Convert to categorical

df['marriage_status'] = df['marriage_status'].astype('category')
df.describe()

In [ ]:
#Exercises

# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())




# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

In [ ]:
#Example 2

# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing['duration_time'].mean())

Data Range Constraints

Motivation

import matplotlib.pyplot as plt
plt.hist(movies['avg_rating'])
plt.title('Average rating of movies (1-5)')


How to deal with out of range data?

- Dropping Data
- Setting custom minimums and maximums
- Treat as missing and impute
- Setting custom value depending on business assumptions

In [ ]:

import pandas as pd
# Output movies with rating > 5
movies[movies['avg_rating'] > 5]

#Drop values using filtering example

movies = movies[movies['avg_rating'] <= 5]

movies.drop(movies[movies['avg_rating'] > 5].index, inplace = True)

# Convert avg_rating > 5 to 5
movies.loc[movies['avg_rating'] > 5, 'avg_rating'] = 5

assert movies['avg_rating'].max() <= 5

In [ ]:
#Data range examples

import datetime as dt
today_date = dt.date.today()
user_signups[user_signups['subscribtion_date'] > dt.date.today()]

import datetime as dt 
import pandas as pd

#Outputs data types
user_signups.dtypes

#Convert to date

user_signups['subscription_date'] = pd.to_datetime(user_signups['subscription_date']).dt.date


today_date = dt.date.today()

# Drop Data 

#Drop values using filtering
user_signups = user_signups[user_signups['subscription_date'] < today_date]
#Drop values using .drop()
user_signups.drop(user_signups[user_signups['subscription_date'] > today_date].index, inplace = True)


#Hardcode dates with upper limit

user_signups.loc[user_signups['subscription_date'] > today_date, 'subscription_date'] = today_date 
assert user_signups.subscription_date.max().date() <= today_date

In [ ]:
#Exercises

# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())


# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

Uniqueness Constraints

Duplicate Values

- Most columns have the same values

Why do they happen?

- Data Entry & Human Error
- Bugs and design error
- Join or merge errors

How to find duplicate rows?

- The .duplicated() method
- subset: List of columns names to check for duplication
- keep: Whether to keep first('first'), last('last'), or all (False) duplicate values

- .sort_values


How to treat duplicated values?

- The .drop_duplicates method
- subset: List of columns to check for duplication
- keep: Whether to keep first('first'), last('last'), or all (False) duplicate values
- inplace: Drop duplicated rows directly inside DataFrame without creating new object (True).

- The .groupby() and agg() methods
- .reset_index()

In [ ]:
height_weight.head()

# Get duplicates across columns

duplicates = height_weight.duplicated() #Duplicated Keyword (Method)
print(duplicates)

# Get duplicate rows

height_weight[duplicates]



#Column names to check for duplication

column_names = ['first_name', 'last_name', 'address']
duplicates = height_weight.duplicated(subset = column_names, keep = False)

height_weight[duplicates]

#Output duplicated values
height_weight[duplicates].sort_values(by = 'first_name')

In [ ]:
# Hoow to treat duplicated values

#Drop duplicates

height_weight.drop_duplicates(inplace = True)

#Output duplicated values

column_names = ['first_name', 'last_name', 'address']
duplicates = height_weight.duplicated(subset = column_names, keep = False)
height_weight[duplicates],sort_values(by = 'first_name')


# Group by colum names and produce statistical summaries

column_names = ['first_name', 'last_name', 'address']
summaries = {'height': 'max', 'weight': 'mean'}
height_weight = height_weight.groupby(by = column_names).agg(summaries).reset_index()

# Make sure the aggregation is done

duplicates = height_weight.duplicated(subset = column_names, keep = False)
height_weight[duplicates].sort_values(by = 'first_name')

In [ ]:
# Examples

# Find duplicated rows of ride_id in the ride_sharing DataFrame while setting keep to False.
# Subset ride_sharing on duplicates and sort by ride_id and assign the results to duplicated_rides.
# Print the ride_id, duration and user_birth_year columns of duplicated_rides in that order

# Find duplicates
duplicates = ride_sharing.duplicated(subset = 'ride_id', keep = False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])


#Instruction

# Drop complete duplicates in ride_sharing and store the results in ride_dup.
# Create the statistics dictionary which holds minimum aggregation for user_birth_year and mean aggregation for duration.
# Drop incomplete duplicates by grouping by ride_id and applying the aggregation in statistics.
# Find duplicates again and run the assert statement to verify de-duplication.


# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

Membership Constraints

Categories and Membership Constraints

Predefined finite sets of categories

Type of Data                    Example Values              Numeric Representation

Marriage Status                 unmarried, married              0,1
Household income category       0-20k, 20-40k                   0,1, ...
Loand Status                    default, paid, no_loan          0, 1, 2


Why could we have these problems?

- Data Entry Errors
- Parsing Errors

How do we treat these problems?

- Dropping data
- Remapping categories
- Inferring categories

- categories
- Methods:
- Using set()
- difference()
- isin()

- ~ (negate)
A note on Joins

Anti Joins                                      Inner Joins

A   B                                            A       B

What is in A and not in B                    What is in both A and B

In [ ]:
#Read study data and print it 

study_data = pd.read_csv('study.csv')
study_data

#correct possible blood_types

categories

#Finding inconsistent categories

inconsistent_categories = set(study_data['blood_type']).difference(categories['blood_type'])
print(inconsistent_categories)

#Get and print rows with inconsistent categories
inconsistent_rows = study_data['blood_type'].isin(inconsistent_categories)
study_data[inconsistent_rows]


#Dropping inconsistent categories

inconsistent_categories = set(study_data['blood_type']).difference(categories['blood_type'])
inconsistent_rows = study_data['blood_type'].isin(inconsistent_categories)
inconsistent_data = study_data[inconsistent_rows]

# Drop inconsistent categories and get consistent data only
consistent_data = study_data[~inconsistent_rows]

In [ ]:
#Exercises

# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")



# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])


#Instructions:

# Create a set out of the cleanliness column in airlines using set() and find the inconsistent category by finding the difference in the cleanliness column of categories.
# Find rows of airlines with a cleanliness value not in categories and print the output.

# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

Categorical Variables

What type of errors could we have?

- Value inconsistency
    - Inconsistent fields: 'married', 'Maried', 'UNMARRIED', 'not married'..
    - _Trailing white spaces:_'married', ' married '...
- Collapsing too many categories to few
    - Creating new groups: 0-20K, 20-40K categories..from continuous household income data
    - Mapping groups to new ones: Mapping household income categories to 2 'rich', 'poor'
- Making sure data is of type category(seen in chapter 1)


Value Consistency

- Capitalization: 'married', 'Maried', 'UNMARRIED', 'not married'.. 

- Methods:
- demographics[]
- value_counts()
- str_upper() - to Capitalize
- str_lower() - to lowercase
- str_strip() - to remove whitespaces

Collapsing data into categories

- Methods:
- qcut() 
    - q, labels
- cut()
    - bins - ranges, labels - name, np.inf

- Map categories to fewer ones: reducing categories in categorical column
    - operating_system column is: 'Microsoft', 'MacOS', 'IOS', 'Android', 'Linux'
    - operating_system column should become: 'DesktopOS', 'MobileOS'
- Methods:
- replace()

In [ ]:
#Value Consistency
#Get marriage status column
marriage_status = demographics['marriage_status']
marriage_status.value_counts()

#get value counts on DataFrame
marriage_status.groupby('marriage_status').count()

#Capitalize
marriage_status['marriage_status'] = marriage_status['marriage_status'].str_upper()
marriage_status['marriage_status'].value_counts()

#Lowercase
marriage_status['marriage_status'] = marriage_status['marriage_status'].str_lower()
marriage_status['marriage_status'].value_counts()

# Get marriage status column
marriage_status = demographics['marriage_status']
marriage_status.value_counts()


#Strip all spaces
demographics = demographics['marriage_status'].str_strip()
demographics[marriage_status].value_counts()

In [ ]:
# Collapsing data into categories
#Using qcut
import pandas as pd
group_names = ['0-200K', '200K-500K', '500K+']
demographics[income_group] = pd.qcut(demographics['household_income'], q = 3, labels = group_names)

#Print income_group column
demographics[['income_group', 'household_income']]


#Using cut()
ranges = [0, 20000, 50000, np.inf]
group_names = ['0-200K', '200K-500K', '500K+']

#Create income group column
demographics['income_group'] = pd.cut(demographics['household_income'], bins = ranges, labels = group_names)
demographics[['income_group', 'household_income']]


# - Map categories to fewer ones: reducing categories in categorical column

mapping = {'Microsoft': 'DesktopOS', 'MacOS': 'DesktopOS', 'Linux': 'DesktopOS', 'IOS': 'MobileOS', 'Android': 'MobileOS'}
devices['operating_system'] = devices['operating_system'].replace(mapping)
devices['operating_system'].unique()

In [ ]:
#Exercises

# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())


# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower()
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})


# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

# Verify changes have been effected
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())


#Instructions

# Create the ranges and labels for the wait_type column mentioned in the description.
# Create the wait_type column by from wait_min by using pd.cut(), while inputting label_ranges and label_names in the correct arguments.
# Create the mapping dictionary mapping weekdays to 'weekday' and weekend days to 'weekend'.
# Create the day_week column by using .replace().

# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

Cleaning Text Data

What is Text Data?

Type of Data                Example Values
Names                       Alex, Sara,...
Phone Numbers               +96171679912 ...
Emails                      `adel@datacamp.com`
Passwords                   ...

Common text data problems:

- Data Inconsistency:
    - +96171679912 or 0096171679912 or ..?
- Fixed Lengths violations:
    - Password needs to be atleast 8 characters
- Typos:
    - +961.71.679912

- Methods | Keywords:
    - np - numpy
    - str.replace
    - str.len
    - loc[] - Label-based indexing
    - str.contains()
    - any()

Regular Expression

In [ ]:
phones = pd.read_csv('phones.csv')
print(phones)
# Replace '+' with '00'
phones['Phone Number'] = phones['Phone Number'].str.replace("+", "00")

# Replace phone numbers with lower than 10 digits to NaN
digits = phones['Phone number'].str.len()
phones.loc[digits < 10, 'Phone number'] = np.nan
phones

# Find length of each row in Phone number column
sanity_check = phone['Phone number'].str.len()

# Assert minimum phone number length is 10
assert sanity_check.min() >= 10

# Assert all numbers do not have "+" or "-"
assert phone['Phone Number'].str.contains("+|-").any() == False

# Replace letters with nothing
phones['Phone Number'] = phones['Phone Number'].str.replace(r'\D+', '')
phones.head()

In [ ]:
# Exercises

# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace(r"Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace(r"Mr.", "")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace(r"Miss", "")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace(r"Ms.", "")

# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False


#Instructions

# Using the airlines DataFrame, store the length of each instance in the survey_response column in resp_length by using .str.len().
# Isolate the rows of airlines with resp_length higher than 40.
# Assert that the smallest survey_response length in airlines_survey is now bigger than 40.


# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

Uniformity

Column              Unit
- Temperature       - 32 Degree Celsius is also 89.6 Farenheit
- Weight            - 70 kg is also 11 st.
- Date              - 26-11-2019 is also 26, November, 2019
- Money             - 100$ is also 10763.90 Yen


Datetime formatting

datetime is useful for representing dates                   pandas.to_datetime()

Date                         datetime format                - Can recognize most formats automatically
25-12-2019                  %d-%m-%Y                        - Sometimes fails with erroneous or unrecognizable formats
December 25th 2019          %c
12-25-2019                  %m-%d-%Y

Treating ambiguous date data

- Is 2019-03-08 in August or March?
- Convert to NA and treat accordingly
- Infer format by understanding data source
- Infer format by understanding previous and subsequent data in DataFrame

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

temperatures = pd.read_csv('temperature.csv')
temperatures.head()

plt.scatter(x = 'Date', y = 'Temperature', data = temperatures)
# Create title, xlabel, and ylabel
plt.title('Temperature in Celsius March 2019 - NYC')
plt.xlabel('Dates')
plt.ylabel('Temperatures in Celsius')
#Show plot
plt.show()


temp_fah = temperatures.loc[temperatures['Temperature'] > 40, ['Temperature']]
temp_cels = (temp_fah - 32) * (5/9)
temperatures.loc[temperatures['Temperature'] > 40, 'Temperature'] = temp_cels

assert temperatures['Temperature'].max() < 40


birhdays.head()

# Converts to datetime - but won't work
birthdays['Birthday'] = pd.to_datetime(birthdays['Birthday'])
# Returns NA for rows where conversion failed
birthdays['Birthday'] = pd.to_datetime(birthdays['Birthday'], errors = 'coerce')

#Treating date data
birthdays['Birthday'] = birthdays['Birthday'].dt.strftime("%d-%m-%Y")
birthdays.head()



# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'


# Print the header of account_opened
print(banking['account_opened'].head())

# Print the header of account_opened
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Return missing value for error
                                           errors = 'coerce') 


# Print the header of account_opend
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Return missing value for error
                                           errors = 'coerce') 

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking['acct_year'])

Cross Field Validation

- The use of multiple fields in a dataset to sanity check data integrity


What to do when we catch inconsistencies?

- Dropping data
- Set to missing and impute 
- Apply rules from domain knowledge

- Methods:
    - sum(axis = 1)

In [ ]:
#Cross Field Validation

import pandas as pd

flights = pd.read_csv('flights.csv')
flights.head()

sum_classes = flights[['economy_class', 'business_class', 'first_class']].sum(axis = 1)
passenger_equ = sum_classes == flights['total_passengers']
# Find and filter rows with inconsistent passenger totals
inconsistent_pass = flights[~passenger_equ]
consistent_pass = flights[passenger_equ]



users.head()

import pandas as pd
import datetime as dt

# Convert to datetime to get today's date
users['Birthday'] = pd.to_datetime(users['Birthday'])
today = dt.date.today()

# For each row in the Birthday column, calculate year difference
age_manual = today.year - users['Birthday'].dt.year
# Find instances where ages match
age_equ = age_manual == users['Age']

# Find and filter rows with inconsistent age
inconsistent_age = users[~age_equ]
consistent_age = users[age_equ]

In [ ]:
# Cross Field Validation Examples

# Store fund columns to sum against
fund_columns = ['fund_A', 'fund_B', 'fund_C', 'fund_D']

# Find rows where fund_columns row sum == inv_amount
inv_equ = banking[fund_columns].sum(axis = 1) == banking['inv_amount']

# Store consistent and inconsistent data
consistent_inv = banking[inv_equ]
inconsistent_inv = banking[~inv_equ]

# Store consistent and inconsistent data
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])


# Store today's date and find ages
today = dt.date.today()
ages_manual = today.year - banking['birth_date'].dt.year

# Find rows where age column == ages_manual
age_equ = banking['age'] == ages_manual

# Store consistent and inconsistent data
consistent_ages = banking[age_equ]
inconsistent_ages = banking[~age_equ]

# Store consistent and inconsistent data
print("Number of inconsistent ages: ", inconsistent_ages.shape[0])

Completeness

- What is missing data?
- Occurs when no data value is stored for a variable in an observation
- Can be represented as NA, NaN, 0, . ...
- Technical Error
- Human Error

Missingness types

- Missing completely at random (MCAR)
    No systematic relationship between missing data and other values
    Data entry errors when inputting data
- Missing at random  (MAR)
    Systematic relationship between missing data and other observed values
    Missing ozone data for high temperatures
- Missing not at random (MNAR)
    Systematic relationship between missing data and unobserved values
    Missing temperatures values for high temperatures

How to deal with missing data?
Simple approaches
- Drop missing data
- Impute with statistical measures (mean, median, mode)

More complex approaches
- Imputting using an algorithmic approach
- Impute with machine learning models

Missingno
- Useful package for visualizing and understanding data
- Packages:
    import missingno as msno
    import matplotlib.pyplot as plt
- Methods:
    - .isna()
    - .dropna(subset)
    - .fillna(dictionary)

In [ ]:
# Air quality example

import pandas as pd
airquality = pd.read_csv('airquality.csv')
print(airquality)

# Return missing values

airquality.isna()

# Get summary of missingness

airquality.isna().sum()



# Visualize missingness
msno.matrix(airquality)
plt.show()

# Isolate missing and complete values aside

missing = airquality[airquality['CO2'].isna()]
complete = airquality[~airquality['CO2'].isna()]

# Describe complete DataFrame
complete.describe()

# Describe missing DataFrame
missing.describe()

sorted_airquality = airquality.sort_values(by = 'Temperature')
msno.matrix(sorted_airquality)
plt.show()


# Dealing with missing data

airquality_dropped = airquality.dropna(subset = ['CO2'])
airquality_dropped.head()

# Replacing with statistical measures
co2_mean = airquality['CO2'].mean()
airquality_imputed = airquality.fillna({'CO2': co2_mean})
airquality_imputed.head()

In [ ]:
#Examples

# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
msno.matrix(banking)
plt.show()

# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
msno.matrix(banking)
plt.show()

# Isolate missing and non missing values of inv_amount
missing_investors = banking[banking['inv_amount'].isna()]
investors = banking[~banking['inv_amount'].isna()]



# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
msno.matrix(banking)
plt.show()

# Isolate missing and non missing values of inv_amount
missing_investors = banking[banking['inv_amount'].isna()]
investors = banking[~banking['inv_amount'].isna()]

# Sort banking by age and visualize
banking_sorted = banking.sort_values(by = 'age')
msno.matrix(banking_sorted)
plt.show()


# Drop missing values of cust_id
banking_fullid = banking.dropna(subset = ['cust_id'])

# Compute estimated acct_amount
acct_imp = banking_fullid['inv_amount'] * 5

# Impute missing acct_amount with corresponding acct_imp
banking_imputed = banking_fullid.fillna({'acct_amount': acct_imp})

# Print number of missing values
print(banking_imputed.isna().sum())