In [7]:
import os


# filename = 'note.txt'
# file = open(filename, mode = 'r')
# text = file.read()
# file.close()


with open('note.txt', 'r') as file:
    print(file.read())

Hello this is a note text

In [ ]:
import numpy as np

filename = 'MNIST_header.txt'
data = np.loadtxt(filename, delimeter=',', skiprows='1', usecols=[0, 2])
print(data)

In [ ]:
import pandas as pd
filename = 'datasets/stress/Stress_Dataset.csv'
data = pd.read_csv(filename)
data.head()

# data_array = data.to_numpy
# print(data_array)

In [ ]:
import pandas as pd
file = 'datasets/millenium/milleniumofdata_v3_final.xlsx'
data = pd.ExcelFile(file)
print(data.sheet_names)

In [ ]:
import pandas as pd

from sas7bdat import SAS7BDAT
with SAS7DAT('urbanpop.sas7bdat') as file:
    df_sas = file.to_data_frame()

In [ ]:
import pandas as pd 
data = pd.read_stata('urbanpop.dta')

In [ ]:
import h5py

filename = 'H-H1_LOSC.hdf5'
data = h5py.File(filename, 'r')
print(type(data))

for key in data.keys():
    print(key)

for key in data['meta'].keys:
    print(key)


print(np.array(data['meta']['Description']), np.array(data['meta']['Detector']))

In [ ]:
import scipy.io
filename = 'workspace.mat'
mat = scipy.io.loadmat(filename)
print(type(mat))

print(type(mat['x']))

In [ ]:
from sqlalchemy import create_engine 
engine = create_engine('sqlite://Northwind.sqlite')

tables = engine.table_names()
print(table_names)

In [ ]:
from sqlalchemy import create_engine
import pandas as pd 
engine = create_engine('sqlite:///Northwind.sqlite')
con = engine.connect()
rs = con.execute("SELECT * FROM Orders")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close

print(df.head())




#USING CONTEXT MANAGER

from sqlalchemy import create_engine
import pandas as pd 
engine = create_engine('sqlite:///Northwind.sqlite')

with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5))
    df.columns = rs.keys()


#EXAMPLESSS
#1

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee WHERE EmployeeId >= 6")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())

#2

# Create engine: engine

engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee ORDER BY Birthdate")
    df = pd.DataFrame(rs.fetchall())

    # Set the DataFrame's column names

    df.columns = rs.keys()
# Print head of DataFrame
print(df.head())

#3

# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine connection: con

con = engine.connect()
# Perform query: rs
rs = con.execute("SELECT * FROM Album")

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs)

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

#4
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT Lastname, Title FROM Employee")
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

In [ ]:
#Pandas Way to Query

df = pd.read_sql_query("SELECT * FROM Orders", engine)

#Examples

# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine

engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query("SELECT * FROM Album", engine)

# Print head of DataFrame
print(df.head())

# Open engine in context manager and store query result in df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

In [ ]:
#More Complex Queries

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT Title, Name FROM Album INNER JOIN Artist USING (ArtistId)")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print head of DataFrame df
print(df.head())